<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ExecutionEnvironment" value="default" />
    <add key="DomainName" value="default" />
    <add key="BaseURL" value="default" />
    <add key="DBUserName" value="dbUser" />
    <add key="DBUserPassword" value="dbPassword" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RestSharpTimeOut" value="300000" />
  </appSettings>
</configuration>