<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="ExecutionEnvironment" value="TEST" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
    <add key="DomainName" value="TESTDOMAIN" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
    <add key="BaseURL" value="https://baseurl.org/" xdt:Transform="Replace"  xdt:Locator="Match(key)" />
  </appSettings>
</configuration>
